.header {
  box-shadow: 0px 8px 16px 0px blueviolet;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-logo {
  text-decoration: none;
  color: blueviolet;
  font-size: 20px;
  font-weight: 800;
}
.header_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_list-item {
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid #00000000;
  padding: 10px 20px;
  border-radius: 20px;
}
.header_list-item:hover {
  border: 1px solid blueviolet;
  background-color: rgba(137, 43, 226, 0.282);
}
