.header {
  position: fixed;
  right: 0;
  width: 250px;
  top: 0;
  height: 100vh;
  transition: all 0.4s ease 0s;
  background: #1d809f;
  display: none;
}
.active {
  display: block;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-logo {
  text-decoration: none;

  margin: 0;
  padding: 20px 0;

  background: rgba(52, 58, 64, 0.1);

  color: #fff;
}
.logo {
  color: #fff;
  text-align: left;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
  font-size: 1.2rem;
}
.header_list {
  width: 100%;
  list-style-type: none;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 30px;
}
.heder_list-link {
  width: 100%;
}
.header_list-item {
  display: inline-block;
  width: 100%;
  font-weight: 800;
  color: #fff;

  text-transform: uppercase;
  padding: 15px;
  font-size: 1.2rem;
  text-align: left;
}
